<h1>Music Video Mayham!</h1>
<% @music_videos_sorted.each do |music_video| %>
  <div class="music_video">
    <iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= music_video.url %>?autoplay=0"
  frameborder="0" ></iframe>
    <h3> <%= music_video.title %> </h3>
    <h3> <small>posted by: <%= music_video.user_name %></small></h3>
    <h3> <small><%= TimeDifference.between(music_video.created_at, Time.now).in_hours %> hours ago</small></h3>
    <p>up votes:<%= music_video.total_upvotes %></p>
    <p>down votes:<%= music_video.total_downvotes %></p>
    <p>hotness:<%= music_video.hotness %></p>
    <% if login? %>
    <form method="post" action="/upvote">
      <input type="text" name="work" value="<%= music_video.id %>" style="display:none">
      <input type="submit" value="Upvote">
    </form> 
        <form method="post" action="/downvote">
      <input type="text" name="downvote" value="<%= music_video.id %>" style="display:none">
      <input type="submit" value="Downvote">
    </form>  
    <% end %>
  </div>
<% end %>

